* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, #d0f0d0, #b2dfdb);
}

.sidebar {
  width: 250px;
  background: linear-gradient(to bottom, #207f46, #1a6639);
  padding: 2rem 1rem;
  color: white;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.sidebar nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  transition: background 0.3s;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: #145e2b;
}


.main-content {
  flex: 1;
  padding: 40px;
}

header h1 {
  color: #2e7d32;
  font-size: 2rem;
  margin-bottom: 10px;
}

header p {
  color: #4e944f;
  font-size: 1rem;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card a:hover {
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 20px rgba(0, 128, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #2e7d32;
  margin-bottom: 10px;
}

.card p {
  color: #555;
}
