* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, #d0f0d0, #b2dfdb);
}

.sidebar {
  width: 220px;
  background-color: #2e7d32;
  color: white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar .logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px; /* espaçamento entre os links */
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background 0.3s;
  background-color: transparent;
}


.main-content {
  flex: 1;
  padding: 40px;
}

header h1 {
  color: #2e7d32;
  font-size: 2rem;
  margin-bottom: 10px;
}

header p {
  color: #4e944f;
  font-size: 1rem;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card a:hover {
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 20px rgba(0, 128, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #2e7d32;
  margin-bottom: 10px;
}

.card p {
  color: #555;
}
